/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

// Version block
.me-wrapper .me-version {
    position: absolute;
    top: 2em;
    right: 2em;
}

// Main content block
.me-wrapper .me-main-content {
    margin-top: 2em;
    background-color: #fff;
    border: 1px solid #9d9d9d;
    padding: 2em 3em;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 3px 5px 0px rgba(148,148,148,1);
}

// Common styles
.me-wrapper .me-tooltip-text {
    display: none;
}