/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

// Version block
.me-wrapper .me-version {
    position: absolute;
    top: 2em;
    right: 2em;
}

// Tooltips
.me-wrapper .tooltip {
    border-radius: 5px;
    background-color: #2F6690;
    padding: 0 15px;
    max-width: 400px;

    .tooltip-inner {
        color: #fff;
    }

    .tooltip-arrow {
        position: absolute;
        border: solid #2F6690;
    }

    &[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    &[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }
}

// YML list elements
.me-wrapper .me-list-group {
    margin-top: 50px;

    .me-list-header .button {
        position: relative;
        float: right;
        top: -50px;
        margin-bottom: -50px;
    }

    .me-list-group-panel {
        background-color: #fff;
        border: 1px solid #9d9d9d;
        border-radius: 5px;
        padding: 10px 20px 10px;
        margin-bottom: 10px;

        .me-list-group-item {
            border: 1px solid #9d9d9d;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 10px;

            .me-item-controls {
                float: right;
            }

            .me-tooltip-text {
                display: none;
            }
        }
    }
}

/*
#me_pages {
.nav-tab-wrapper {
    margin: 10px 0 25px;
}

.button {
    margin-top: 20px;
}

.form-table {
    background-color: #ffffff;
    border: 1px solid #9d9d9d;
    margin-bottom: 50px;

    &:last-of-type {
        margin-bottom: 0;
    }

    th,
    td {
        padding: 20px 30px;
    }

    tr:first-child > th,
    tr:first-child > td {
        padding-top: 40px;
    }

    tr:last-child > th,
    tr:last-child > td {
        padding-bottom: 40px;
    }
}

p.description {
    font-size: 12px;
    line-height: 1.2em;
    color: #9d9d9d;
}

ul {
    list-style-type: disc;

    li {
        margin-left: 20px;
    }
}

.select2-selection,
.select2-selection > span:focus {
    outline: none !important;
    outline-style: none;
    outline-width: 0;
}

input[type="text"],
select {
    padding: 6px;
    height: auto;
    min-width: 369px;
}

select[multiple] {
    height: 200px;
}

.select2 li {
    margin-bottom: 0;
}
}

#market-exporter table td > input[type="checkbox"] {
    margin: 0 0 0 8px;
}
*/