/**
 * Button styles
 */
.me-wrapper {

    // Callout button
    .me-button-callout {
        display: flex;
        margin: 2em auto 0;
        padding: 10px 60px 35px;
        text-transform: uppercase;
    }

}
