/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#me_pages .nav-tab-wrapper {
	margin: 10px 0 25px;
}

#me_pages .button {
	margin-top: 20px;
}

#me_pages .version {
	position: relative;
	top: 15px;
	float: right;
}

#me_pages .form-table {
	background-color: #ffffff;
	border: 1px solid #9d9d9d;
	margin-bottom: 50px;
}
#me_pages .form-table:last-of-type {
	margin-bottom: 0;
}
#me_pages .form-table th,
#me_pages .form-table td {
	padding: 20px 30px;
}
#me_pages .form-table tr:first-child > th,
#me_pages .form-table tr:first-child > td {
	padding-top: 40px;
}
#me_pages .form-table tr:last-child > th,
#me_pages .form-table tr:last-child > td {
	padding-bottom: 40px;
}

#me_pages p.description {
	font-size: 12px;
	line-height: 1.2em;
	color: #9d9d9d;
}

#me_pages > ul {
	list-style-type: disc;
}

#me_pages > ul li {
	margin-left: 20px;
}

#me_pages .select2-selection,
#me_pages .select2-selection > span:focus {
	outline: none !important;
	outline-style: none;
	outline-width: 0;
}

#me_pages input[type="text"],
#me_pages select {
	padding: 6px;
	height: auto;
	min-width: 369px;
}

#me_pages select[multiple] {
	height: 200px;
}

#me_pages .select2 li {
	margin-bottom: 0;
}

#market-exporter table td > input[type="checkbox"] {
	margin: 0 0 0 8px;
}

/* progress bar */
#me_pages .me-progress-export {
	display: none;
}

.me-progress-bar {
	color: #000;
	background-color: #fff;
	width: 50%;
	margin-bottom: 10px;
}

.me-prgoress-container:after, .me-prgoress-container:before {
	content: "";
	display: table;
	clear: both;
}

.me-prgoress-container {
	/*padding: 0.01em 16px;*/
	color: #fff;
	background-color: #4CAF50;
	text-align:center
}
