/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#me_pages .nav-tab-wrapper {
	margin: 10px 0 25px;
}

#me_pages .version {
	position: absolute;
	top: 15px;
	right: 20px;
}

#me_pages ul {
	list-style-type: disc;
}

#me_pages ul li {
	margin-left: 20px;
}

#me_pages select {
	min-width: 185px;
}

#market-exporter table td > input[type="checkbox"] {
	margin: 0 0 0 8px;
}