/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
#market-exporter table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 20px;
}

#market-exporter table tr:first-child {
	background-color: #bfbfbf;;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
}

#market-exporter table .id {
	width: 30px;
}

#market-exporter table .name {
	width: 30%;
}